.wrapper {
     --search-border-radius: 92px;
     --search-height: 46px;
     --search-top-spacer: 9px;
     --search-btn-width: 52px;

     width: 100%;
     height: var(--default-layout-header-height, 60px);
     box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
     display: flex;
     justify-content: center;

}

.inner {
     height: 100%;
     width: var(--default-layout-width, 1150px);
     padding: 0 var(--default-layout-horizontal-spacer);
     display: flex;
     justify-content: space-between;
     align-items: center;


}

.more-btn {
     font-size: 2rem;
     margin-left: 20px;
     padding: 4px;
     background-color: transparent;
     cursor: pointer;
}

.actions {

     display: flex;
     align-items: center;
     justify-items: center;

}


.action-btn {
     font-size: 2.3rem;
     background-color: transparent;
     color: rgba(84, 84, 84, 0.92);
     padding: 4px 12px;
     cursor: pointer;
}

.user-avatar {
     width: 32px;
     height: 32px;
     object-fit: cover;
     margin-left: 20px;
     border-radius: 50%;
     cursor: pointer;
}

.icon_upload {
     display: flex;
     align-items: center;
     justify-content: center;
     min-width: 110px;
     padding: 0 16px;
     height: 36px;
     border: 1px solid rgba(22, 24, 35, 0.12);
     border-radius: 2px;
     background: rgba(255, 255, 255, 1);

     &:hover {
          background-color: rgba(22, 24, 35, .03);
     }
}

.title_icon {
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: rgba(22, 24, 35, 1);
}

.plus_icon {
     margin-right: 8px;
     color: rgba(22, 24, 35, 1);
}

.message_icon {
     color: rgba(22, 24, 35, 1);
}

.tinnhan_icon {
     color: rgba(22, 24, 35, 1);

}

.logo-link {
     display: flex;
}